#**IMPORTING LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from scipy import stats
from sklearn.preprocessing import StandardScaler

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#**IMPORTING DATA SET**

In [ ]:
train_data = pd.read_csv("/content/drive/MyDrive/ML_AS2/Q1/train_data.csv")
test_data = pd.read_csv("/content/drive/MyDrive/ML_Project/test_data.csv")

#**OVERVIEW OF TRAIN DATA**

SIZE OF DATASET

In [ ]:
format(train_data.shape)

'(184506, 122)'

DESCRIPTION OF DATA

In [ ]:
train_data.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
count,184506.000000,184506.000000,1.845060e+05,1.845060e+05,184500.000000,1.843390e+05,184506.000000,184506.000000,184506.000000,184506.00000,...,184506.000000,184506.000000,184506.000000,159508.000000,159508.000000,159508.000000,159508.000000,159508.000000,159508.000000,184506.000000
mean,278031.658488,0.416463,1.689985e+05,5.992854e+05,27114.455805,5.386926e+05,0.020868,-16036.718307,63838.583271,-4984.89506,...,0.000629,0.000553,0.000325,0.006338,0.007335,0.034400,0.267247,0.266770,1.897504,0.080729
std,102789.553650,0.719614,2.942453e+05,4.021982e+05,14468.652072,3.692263e+05,0.013818,4361.484692,141295.297588,3524.99741,...,0.025066,0.023506,0.018030,0.083743,0.114671,0.204187,0.919465,0.894563,1.864439,0.272419
min,100003.000000,0.000000,2.610000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25201.000000,-17912.000000,-23416.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188904.250000,0.000000,1.125000e+05,2.700000e+05,16555.500000,2.385000e+05,0.010006,-19677.000000,-2757.000000,-7486.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,277948.500000,0.000000,1.485000e+05,5.155290e+05,24939.000000,4.500000e+05,0.018850,-15747.000000,-1211.000000,-4506.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,367083.250000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12416.000000,-289.000000,-2000.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
max,456254.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.00000,...,1.000000,1.000000,1.000000,4.000000,9.000000,7.000000,24.000000,261.000000,25.000000,1.000000

ROWS OF DATA

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184506 entries, 0 to 184505
Columns: 122 entries, SK_ID_CURR to TARGET
dtypes: float64(65), int64(41), object(16)
memory usage: 171.7+ MB

COLUMNS OF DATA

In [ ]:
train_data.columns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'TARGET'],
      dtype='object', length=122)

FIRST FIVE ROWS OF DATA

In [ ]:
train_data.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,450407,Cash loans,F,N,Y,1,67500.0,227520.0,11065.5,180000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
1,271298,Cash loans,M,Y,Y,1,247500.0,1882372.5,65560.5,1719000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
2,122238,Cash loans,M,Y,Y,1,180000.0,101880.0,10827.0,90000.0,...,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0
3,305311,Cash loans,M,N,N,0,81000.0,405000.0,20677.5,405000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,414121,Cash loans,F,N,Y,0,157500.0,888840.0,29506.5,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [ ]:
train=train_data.drop(columns=['SK_ID_CURR'])

Column which shows ID is not at all relevant in our model. So dropping that column.

In [ ]:
train.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,Cash loans,F,N,Y,1,67500.0,227520.0,11065.5,180000.0,Family,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
1,Cash loans,M,Y,Y,1,247500.0,1882372.5,65560.5,1719000.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
2,Cash loans,M,Y,Y,1,180000.0,101880.0,10827.0,90000.0,"Spouse, partner",...,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0
3,Cash loans,M,N,N,0,81000.0,405000.0,20677.5,405000.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,Cash loans,F,N,Y,0,157500.0,888840.0,29506.5,675000.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0

#**OVERVIEW OF TEST DATA**

SIZE OF DATASET

In [ ]:
format(test_data.shape)

'(123005, 121)'

DESCRIPTION OF DATA

In [ ]:
test_data.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,123005.000000,123005.000000,1.230050e+05,1.230050e+05,122999.000000,1.228940e+05,123005.000000,123005.000000,123005.000000,123005.000000,...,123005.00000,123005.000000,123005.000000,123005.000000,106484.000000,106484.000000,106484.000000,106484.000000,106484.000000,106484.000000
mean,278403.806894,0.417934,1.684971e+05,5.986369e+05,27099.750994,5.379516e+05,0.020868,-16037.410203,63779.740141,-4987.958213,...,0.00852,0.000545,0.000439,0.000350,0.006499,0.006499,0.034306,0.267618,0.263533,1.903676
std,102791.121509,0.725868,1.034338e+05,4.029306e+05,14531.338692,3.697775e+05,0.013852,4367.759521,141247.032047,3519.730864,...,0.09191,0.023332,0.020948,0.018694,0.084009,0.104620,0.205429,0.910795,0.613427,1.876549
min,100002.000000,0.000000,2.565000e+04,4.500000e+04,1980.000000,4.500000e+04,0.000290,-25229.000000,-17546.000000,-24672.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189484.000000,0.000000,1.125000e+05,2.700000e+05,16501.500000,2.385000e+05,0.010006,-19689.000000,-2764.000000,-7471.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278586.000000,0.000000,1.440000e+05,5.123385e+05,24853.500000,4.500000e+05,0.018850,-15753.000000,-1218.000000,-4501.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367253.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12409.000000,-290.000000,-2028.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,19.000000,6.750000e+06,4.050000e+06,230161.500000,4.050000e+06,0.072508,-7676.000000,365243.000000,0.000000,...,1.00000,1.000000,1.000000,1.000000,3.000000,9.000000,8.000000,27.000000,8.000000,22.000000

ROWS OF DATA

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123005 entries, 0 to 123004
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 113.6+ MB

COLUMNS OF DATA

In [ ]:
test_data.columns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

FIRST FIVE ROWS OF DATA

In [ ]:
test_data.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,367294,Cash loans,F,N,Y,0,180000.0,265306.5,25317.0,252000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
1,439847,Cash loans,F,N,Y,0,202500.0,346500.0,21069.0,346500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
2,380562,Cash loans,M,Y,N,0,360000.0,545040.0,36553.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
3,407238,Cash loans,F,N,Y,0,135000.0,307557.0,20682.0,265500.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
4,239910,Cash loans,F,N,Y,0,157500.0,1056447.0,31018.5,922500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test=test_data.drop(columns=['SK_ID_CURR'])

Column which shows ID is not at all relevant in our model. So dropping that column.

In [ ]:
test.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,Cash loans,F,N,Y,0,180000.0,265306.5,25317.0,252000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
1,Cash loans,F,N,Y,0,202500.0,346500.0,21069.0,346500.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
2,Cash loans,M,Y,N,0,360000.0,545040.0,36553.5,450000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
3,Cash loans,F,N,Y,0,135000.0,307557.0,20682.0,265500.0,Unaccompanied,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
4,Cash loans,F,N,Y,0,157500.0,1056447.0,31018.5,922500.0,Family,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#**TRAIN DATA ANALYSIS**

PLOTTING TARGET LABEL
(Did people return loan amount on time?)

In [ ]:
# plt.figure(figsize=(10,7))
# ax=sns.countplot(x='TARGET',data=train)
# for p in ax.patches:
#         ax.annotate(p.get_height(), (p.get_x() + p.get_width() / 2., p.get_height()), ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
# plt.show()

0 indicates people who repayed all the installments on time and 1 indicates people who repayed the installment late at least once

From the above graph, we can infer that a high percentage of people (91.93%) repayed the installments on time, so the target label is imbalanced.

PLOTTING COUNTS OF ALL THE COLUMNS

In [ ]:
# for i in train:
#     if (train[i].dtype=='object'):
#         plt.figure(figsize=(12,7))
#         ax=sns.countplot(data=train,x='TARGET',hue=i)
#         for p in ax.patches:
#               ax.annotate(p.get_height(), (p.get_x() + p.get_width() / 2., p.get_height()), ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
#         plt.show()

In [ ]:
# for i in train:
#     if (len(train[i].unique())>3 and train[i].dtype != 'object'):
#         plt.figure(figsize=(10,7))
#         sns.kdeplot(train.loc[train['TARGET'] == 0, i], label = 'target = 0')
#         sns.kdeplot(train.loc[train['TARGET'] == 1, i], label = 'target = 1')
#         plt.legend()
#         plt.show()

In [ ]:
# for i in train:
#     if (len(train[i].unique())<=3 and not train[i].dtype=='object'):
#         plt.figure(figsize=(10,7))
#         ax=sns.countplot(data=train,x='TARGET',hue=i)
#         for p in ax.patches:
#               ax.annotate(p.get_height(), (p.get_x() + p.get_width() / 2., p.get_height()), ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
#         plt.show()

From the graphs, we observed, Rows with CODE_GENDER = XNA has only 2 Rows, and few XNA in ORGANIZATION_TYPE (This can be treated like an unknown value). So we are manipulating those values to NULL and later dealt, while dealing with null values

In [ ]:
train = train.replace('XNA', np.nan)

Also we found that FLAG_MOBIL has just 1 row with a zero, hence its pointless to have that column for training. So removing that column

In [ ]:
train = train.drop('FLAG_MOBIL', axis=1)

#**TEST DATA ANALYSIS**

In [ ]:
test.nunique().sort_values()

FLAG_MOBIL                1
NAME_CONTRACT_TYPE        2
FLAG_EMP_PHONE            2
FLAG_WORK_PHONE           2
FLAG_CONT_MOBILE          2
                      ...
AMT_ANNUITY           11367
DAYS_REGISTRATION     14447
DAYS_BIRTH            17147
EXT_SOURCE_1          50389
EXT_SOURCE_2          75180
Length: 120, dtype: int64

FINDING NULL VALUES (NaN)

In [ ]:
test.isna().sum()

NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     16521
AMT_REQ_CREDIT_BUREAU_WEEK    16521
AMT_REQ_CREDIT_BUREAU_MON     16521
AMT_REQ_CREDIT_BUREAU_QRT     16521
AMT_REQ_CREDIT_BUREAU_YEAR    16521
Length: 120, dtype: int64

FINDING (?) IN DATASET

In [ ]:
(test == "?").sum()

NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
CNT_CHILDREN                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 120, dtype: int64

There are no (?) in the given dataset

FINDING DUPLICATE ROWS

In [ ]:
test.duplicated().sum()

0

There are no duplicate rows which can be removed

#**DATA PREPROCESSING**

**BASIC PREPROCESSING FOR TRAIN DATA**

In [ ]:
pd.set_option('display.max_rows',None)    #pd by default shows only 10 rows, this will change it to maximum possible rows

UNIQUE VALUES

In [ ]:
train.nunique().sort_values()

FLAG_DOCUMENT_12                    1
NAME_CONTRACT_TYPE                  2
LIVE_REGION_NOT_WORK_REGION         2
REG_CITY_NOT_LIVE_CITY              2
REG_CITY_NOT_WORK_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
EMERGENCYSTATE_MODE                 2
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
FLAG_DOCUMENT_13                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_17                    2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_19                    2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_21                    2
REG_REGION_NOT_WORK_REGION          2
REG_REGION_NOT_LIVE_REGION          2
TARGET                              2
FLAG_WORK_PHONE                     2
FLAG_OWN_CAR                        2
CODE_GENDER                         2
FLAG_EMP_PHONE                      2
FLAG_OWN_REALTY                     2
FLAG_EMAIL                          2
FLAG_PHONE                          2
FLAG_CONT_MOBILE                    2
REGION_RATING_CLIENT_W_CITY         3
HOUSETYPE_MODE                      3
REGION_RATING_CLIENT                3
FONDKAPREMONT_MODE                  4
AMT_REQ_CREDIT_BUREAU_HOUR          5
NAME_EDUCATION_TYPE                 5
NAME_HOUSING_TYPE                   6
NAME_FAMILY_STATUS                  6
WALLSMATERIAL_MODE                  7
WEEKDAY_APPR_PROCESS_START          7
NAME_TYPE_SUITE                     7
NAME_INCOME_TYPE                    8
AMT_REQ_CREDIT_BUREAU_WEEK          8
AMT_REQ_CREDIT_BUREAU_DAY           9
DEF_60_CNT_SOCIAL_CIRCLE            9
DEF_30_CNT_SOCIAL_CIRCLE           10
AMT_REQ_CREDIT_BUREAU_QRT          11
CNT_CHILDREN                       14
CNT_FAM_MEMBERS                    15
OCCUPATION_TYPE                    18
AMT_REQ_CREDIT_BUREAU_MON          22
AMT_REQ_CREDIT_BUREAU_YEAR         22
HOUR_APPR_PROCESS_START            24
FLOORSMAX_MODE                     25
FLOORSMIN_MODE                     25
ELEVATORS_MODE                     26
ENTRANCES_MODE                     30
OBS_60_CNT_SOCIAL_CIRCLE           30
OBS_30_CNT_SOCIAL_CIRCLE           31
ENTRANCES_MEDI                     46
ELEVATORS_MEDI                     46
FLOORSMIN_MEDI                     47
FLOORSMAX_MEDI                     49
ORGANIZATION_TYPE                  57
OWN_CAR_AGE                        60
REGION_POPULATION_RELATIVE         81
YEARS_BUILD_AVG                   146
YEARS_BUILD_MEDI                  147
NONLIVINGAPARTMENTS_MODE          147
YEARS_BUILD_MODE                  150
NONLIVINGAPARTMENTS_MEDI          191
YEARS_BEGINEXPLUATATION_MODE      209
YEARS_BEGINEXPLUATATION_MEDI      229
ELEVATORS_AVG                     236
YEARS_BEGINEXPLUATATION_AVG       259
ENTRANCES_AVG                     263
FLOORSMIN_AVG                     270
NONLIVINGAPARTMENTS_AVG           339
FLOORSMAX_AVG                     352
LIVINGAPARTMENTS_MODE             701
APARTMENTS_MODE                   733
EXT_SOURCE_3                      790
AMT_GOODS_PRICE                   793
LIVINGAPARTMENTS_MEDI            1037
APARTMENTS_MEDI                  1106
LIVINGAPARTMENTS_AVG             1705
AMT_INCOME_TOTAL                 1768
APARTMENTS_AVG                   2150
COMMONAREA_MODE                  2775
COMMONAREA_AVG                   2828
COMMONAREA_MEDI                  2854
NONLIVINGAREA_AVG                2937
NONLIVINGAREA_MEDI               2960
NONLIVINGAREA_MODE               2970
LANDAREA_AVG                     3294
LANDAREA_MODE                    3325
LANDAREA_MEDI                    3330
BASEMENTAREA_MEDI                3538
BASEMENTAREA_AVG                 3545
BASEMENTAREA_MODE                3614
DAYS_LAST_PHONE_CHANGE           3682
TOTALAREA_MODE                   4802
AMT_CREDIT                       4855
LIVINGAREA_AVG                   4861
LIVINGAREA_MEDI                  4952
LIVINGAREA_MODE                  4955
DAYS_ID_PUBLISH                  6086
DAYS_EMPLOYED                   11404
AMT_ANNUITY                     12412
DAYS_REGISTRATION               15002
DAYS_BIRTH                      17334
EXT_SOURCE_1                    73057
EXT_SOURCE_2                    94605
dtype: int64

FINDING NULL VALUES (NaN)

In [ ]:
train.isna().sum()

NAME_CONTRACT_TYPE                   0
CODE_GENDER                          2
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                          6
AMT_GOODS_PRICE                    167
NAME_TYPE_SUITE                    770
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     121633
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                  57867
CNT_FAM_MEMBERS                      1
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                33236
EXT_SOURCE_1                    104074
EXT_SOURCE_2                       413
EXT_SOURCE_3                     36656
APARTMENTS_AVG                   93575
BASEMENTAREA_AVG                107975
YEARS_BEGINEXPLUATATION_AVG      89900
YEARS_BUILD_AVG                 122757
COMMONAREA_AVG                  128971
ELEVATORS_AVG                    98320
ENTRANCES_AVG                    92807
FLOORSMAX_AVG                    91726
FLOORSMIN_AVG                   125244
LANDAREA_AVG                    109543
LIVINGAPARTMENTS_AVG            126212
LIVINGAREA_AVG                   92534
NONLIVINGAPARTMENTS_AVG         128146
NONLIVINGAREA_AVG               101788
APARTMENTS_MODE                  93575
BASEMENTAREA_MODE               107975
YEARS_BEGINEXPLUATATION_MODE     89900
YEARS_BUILD_MODE                122757
COMMONAREA_MODE                 128971
ELEVATORS_MODE                   98320
ENTRANCES_MODE                   92807
FLOORSMAX_MODE                   91726
FLOORSMIN_MODE                  125244
LANDAREA_MODE                   109543
LIVINGAPARTMENTS_MODE           126212
LIVINGAREA_MODE                  92534
NONLIVINGAPARTMENTS_MODE        128146
NONLIVINGAREA_MODE              101788
APARTMENTS_MEDI                  93575
BASEMENTAREA_MEDI               107975
YEARS_BEGINEXPLUATATION_MEDI     89900
YEARS_BUILD_MEDI                122757
COMMONAREA_MEDI                 128971
ELEVATORS_MEDI                   98320
ENTRANCES_MEDI                   92807
FLOORSMAX_MEDI                   91726
FLOORSMIN_MEDI                  125244
LANDAREA_MEDI                   109543
LIVINGAPARTMENTS_MEDI           126212
LIVINGAREA_MEDI                  92534
NONLIVINGAPARTMENTS_MEDI        128146
NONLIVINGAREA_MEDI              101788
FONDKAPREMONT_MODE              126254
HOUSETYPE_MODE                   92482
TOTALAREA_MODE                   88948
WALLSMATERIAL_MODE               93721
EMERGENCYSTATE_MODE              87336
OBS_30_CNT_SOCIAL_CIRCLE           639
DEF_30_CNT_SOCIAL_CIRCLE           639
OBS_60_CNT_SOCIAL_CIRCLE           639
DEF_60_CNT_SOCIAL_CIRCLE           639
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       24998
AMT_REQ_CREDIT_BUREAU_DAY        24998
AMT_REQ_CREDIT_BUREAU_WEEK       24998
AMT_REQ_CREDIT_BUREAU_MON        24998
AMT_REQ_CREDIT_BUREAU_QRT        24998
AMT_REQ_CREDIT_BUREAU_YEAR       24998
TARGET                               0
dtype: int64

In [ ]:
train.isna().sum().sort_values()

NAME_CONTRACT_TYPE                   0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
HOUR_APPR_PROCESS_START              0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
FLAG_DOCUMENT_9                      0
WEEKDAY_APPR_PROCESS_START           0
TARGET                               0
REGION_RATING_CLIENT                 0
AMT_CREDIT                           0
NAME_INCOME_TYPE                     0
AMT_INCOME_TOTAL                     0
CNT_CHILDREN                         0
NAME_EDUCATION_TYPE                  0
FLAG_OWN_REALTY                      0
FLAG_OWN_CAR                         0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
REGION_RATING_CLIENT_W_CITY          0
DAYS_EMPLOYED                        0
DAYS_ID_PUBLISH                      0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
DAYS_REGISTRATION                    0
DAYS_LAST_PHONE_CHANGE               1
CNT_FAM_MEMBERS                      1
CODE_GENDER                          2
AMT_ANNUITY                          6
AMT_GOODS_PRICE                    167
EXT_SOURCE_2                       413
DEF_60_CNT_SOCIAL_CIRCLE           639
OBS_60_CNT_SOCIAL_CIRCLE           639
DEF_30_CNT_SOCIAL_CIRCLE           639
OBS_30_CNT_SOCIAL_CIRCLE           639
NAME_TYPE_SUITE                    770
AMT_REQ_CREDIT_BUREAU_YEAR       24998
AMT_REQ_CREDIT_BUREAU_QRT        24998
AMT_REQ_CREDIT_BUREAU_MON        24998
AMT_REQ_CREDIT_BUREAU_HOUR       24998
AMT_REQ_CREDIT_BUREAU_WEEK       24998
AMT_REQ_CREDIT_BUREAU_DAY        24998
ORGANIZATION_TYPE                33236
EXT_SOURCE_3                     36656
OCCUPATION_TYPE                  57867
EMERGENCYSTATE_MODE              87336
TOTALAREA_MODE                   88948
YEARS_BEGINEXPLUATATION_MODE     89900
YEARS_BEGINEXPLUATATION_MEDI     89900
YEARS_BEGINEXPLUATATION_AVG      89900
FLOORSMAX_MEDI                   91726
FLOORSMAX_AVG                    91726
FLOORSMAX_MODE                   91726
HOUSETYPE_MODE                   92482
LIVINGAREA_MEDI                  92534
LIVINGAREA_MODE                  92534
LIVINGAREA_AVG                   92534
ENTRANCES_MEDI                   92807
ENTRANCES_AVG                    92807
ENTRANCES_MODE                   92807
APARTMENTS_MEDI                  93575
APARTMENTS_AVG                   93575
APARTMENTS_MODE                  93575
WALLSMATERIAL_MODE               93721
ELEVATORS_MEDI                   98320
ELEVATORS_MODE                   98320
ELEVATORS_AVG                    98320
NONLIVINGAREA_AVG               101788
NONLIVINGAREA_MODE              101788
NONLIVINGAREA_MEDI              101788
EXT_SOURCE_1                    104074
BASEMENTAREA_MODE               107975
BASEMENTAREA_MEDI               107975
BASEMENTAREA_AVG                107975
LANDAREA_MODE                   109543
LANDAREA_AVG                    109543
LANDAREA_MEDI                   109543
OWN_CAR_AGE                     121633
YEARS_BUILD_MEDI                122757
YEARS_BUILD_AVG                 122757
YEARS_BUILD_MODE                122757
FLOORSMIN_AVG                   125244
FLOORSMIN_MEDI                  125244
FLOORSMIN_MODE                  125244
LIVINGAPARTMENTS_AVG            126212
LIVINGAPARTMENTS_MODE           126212
LIVINGAPARTMENTS_MEDI           126212
FONDKAPREMONT_MODE              126254
NONLIVINGAPARTMENTS_AVG         128146
NONLIVINGAPARTMENTS_MEDI        128146
NONLIVINGAPARTMENTS_MODE        128146
COMMONAREA_AVG                  128971
COMMONAREA_MEDI                 128971
COMMONAREA_MODE                 128971
dtype: int64

In [ ]:
null_perc_col=train.isna().sum().sort_values()/len(train)*100
null_perc_col

NAME_CONTRACT_TYPE               0.000000
REG_REGION_NOT_LIVE_REGION       0.000000
REG_REGION_NOT_WORK_REGION       0.000000
LIVE_REGION_NOT_WORK_REGION      0.000000
REG_CITY_NOT_LIVE_CITY           0.000000
REG_CITY_NOT_WORK_CITY           0.000000
LIVE_CITY_NOT_WORK_CITY          0.000000
FLAG_DOCUMENT_2                  0.000000
FLAG_DOCUMENT_3                  0.000000
FLAG_DOCUMENT_4                  0.000000
FLAG_DOCUMENT_5                  0.000000
FLAG_DOCUMENT_6                  0.000000
FLAG_DOCUMENT_7                  0.000000
HOUR_APPR_PROCESS_START          0.000000
FLAG_DOCUMENT_8                  0.000000
FLAG_DOCUMENT_10                 0.000000
FLAG_DOCUMENT_11                 0.000000
FLAG_DOCUMENT_12                 0.000000
FLAG_DOCUMENT_13                 0.000000
FLAG_DOCUMENT_14                 0.000000
FLAG_DOCUMENT_15                 0.000000
FLAG_DOCUMENT_16                 0.000000
FLAG_DOCUMENT_17                 0.000000
FLAG_DOCUMENT_18                 0.000000
FLAG_DOCUMENT_19                 0.000000
FLAG_DOCUMENT_20                 0.000000
FLAG_DOCUMENT_21                 0.000000
FLAG_DOCUMENT_9                  0.000000
WEEKDAY_APPR_PROCESS_START       0.000000
TARGET                           0.000000
REGION_RATING_CLIENT             0.000000
AMT_CREDIT                       0.000000
NAME_INCOME_TYPE                 0.000000
AMT_INCOME_TOTAL                 0.000000
CNT_CHILDREN                     0.000000
NAME_EDUCATION_TYPE              0.000000
FLAG_OWN_REALTY                  0.000000
FLAG_OWN_CAR                     0.000000
NAME_FAMILY_STATUS               0.000000
NAME_HOUSING_TYPE                0.000000
REGION_POPULATION_RELATIVE       0.000000
DAYS_BIRTH                       0.000000
REGION_RATING_CLIENT_W_CITY      0.000000
DAYS_EMPLOYED                    0.000000
DAYS_ID_PUBLISH                  0.000000
FLAG_EMP_PHONE                   0.000000
FLAG_WORK_PHONE                  0.000000
FLAG_CONT_MOBILE                 0.000000
FLAG_PHONE                       0.000000
FLAG_EMAIL                       0.000000
DAYS_REGISTRATION                0.000000
DAYS_LAST_PHONE_CHANGE           0.000542
CNT_FAM_MEMBERS                  0.000542
CODE_GENDER                      0.001084
AMT_ANNUITY                      0.003252
AMT_GOODS_PRICE                  0.090512
EXT_SOURCE_2                     0.223841
DEF_60_CNT_SOCIAL_CIRCLE         0.346330
OBS_60_CNT_SOCIAL_CIRCLE         0.346330
DEF_30_CNT_SOCIAL_CIRCLE         0.346330
OBS_30_CNT_SOCIAL_CIRCLE         0.346330
NAME_TYPE_SUITE                  0.417331
AMT_REQ_CREDIT_BUREAU_YEAR      13.548611
AMT_REQ_CREDIT_BUREAU_QRT       13.548611
AMT_REQ_CREDIT_BUREAU_MON       13.548611
AMT_REQ_CREDIT_BUREAU_HOUR      13.548611
AMT_REQ_CREDIT_BUREAU_WEEK      13.548611
AMT_REQ_CREDIT_BUREAU_DAY       13.548611
ORGANIZATION_TYPE               18.013506
EXT_SOURCE_3                    19.867105
OCCUPATION_TYPE                 31.363208
EMERGENCYSTATE_MODE             47.335046
TOTALAREA_MODE                  48.208730
YEARS_BEGINEXPLUATATION_MODE    48.724703
YEARS_BEGINEXPLUATATION_MEDI    48.724703
YEARS_BEGINEXPLUATATION_AVG     48.724703
FLOORSMAX_MEDI                  49.714372
FLOORSMAX_AVG                   49.714372
FLOORSMAX_MODE                  49.714372
HOUSETYPE_MODE                  50.124115
LIVINGAREA_MEDI                 50.152299
LIVINGAREA_MODE                 50.152299
LIVINGAREA_AVG                  50.152299
ENTRANCES_MEDI                  50.300261
ENTRANCES_AVG                   50.300261
ENTRANCES_MODE                  50.300261
APARTMENTS_MEDI                 50.716508
APARTMENTS_AVG                  50.716508
APARTMENTS_MODE                 50.716508
WALLSMATERIAL_MODE              50.795638
ELEVATORS_MEDI                  53.288240
ELEVATORS_MODE                  53.288240
ELEVATORS_AVG                   53.288240
NONLIVINGAREA_AVG               55.167854
NONLIVINGAREA_MODE              55.167854
NONLIVINGAREA_MEDI              55.167854
EXT_SOURCE_1                    56.406838
BASEMENTAREA_MODE               58.521132
BASEMENTAREA_MEDI               58.521132
BASEMENTAREA_AVG                58.521132
LANDAREA_MODE                   59.370969
LANDAREA_AVG                    59.370969
LANDAREA_MEDI                   59.370969
OWN_CAR_AGE                     65.923601
YEARS_BUILD_MEDI                66.532796
YEARS_BUILD_AVG                 66.532796
YEARS_BUILD_MODE                66.532796
FLOORSMIN_AVG                   67.880719
FLOORSMIN_MEDI                  67.880719
FLOORSMIN_MODE                  67.880719
LIVINGAPARTMENTS_AVG            68.405364
LIVINGAPARTMENTS_MODE           68.405364
LIVINGAPARTMENTS_MEDI           68.405364
FONDKAPREMONT_MODE              68.428127
NONLIVINGAPARTMENTS_AVG         69.453568
NONLIVINGAPARTMENTS_MEDI        69.453568
NONLIVINGAPARTMENTS_MODE        69.453568
COMMONAREA_AVG                  69.900708
COMMONAREA_MEDI                 69.900708
COMMONAREA_MODE                 69.900708
dtype: float64

**DROPPING COLUMNS WITH HIGH % OF NULL VALUES**

In [ ]:
train_drop_null_col=[]
for i in train:
    if(null_perc_col[i]>65):
        train_drop_null_col.append(i)
train_drop_null_col

['OWN_CAR_AGE',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'FLOORSMIN_AVG',
 'LIVINGAPARTMENTS_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'FLOORSMIN_MODE',
 'LIVINGAPARTMENTS_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'FLOORSMIN_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'FONDKAPREMONT_MODE']

In [ ]:
train.drop(columns =train_drop_null_col,axis=1,inplace = True)
format(train.shape)

'(184506, 103)'

FINDING (?) IN DATASET

In [ ]:
(train == "?").sum()

NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
CNT_CHILDREN                    0
AMT_INCOME_TOTAL                0
AMT_CREDIT                      0
AMT_ANNUITY                     0
AMT_GOODS_PRICE                 0
NAME_TYPE_SUITE                 0
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
REGION_POPULATION_RELATIVE      0
DAYS_BIRTH                      0
DAYS_EMPLOYED                   0
DAYS_REGISTRATION               0
DAYS_ID_PUBLISH                 0
FLAG_EMP_PHONE                  0
FLAG_WORK_PHONE                 0
FLAG_CONT_MOBILE                0
FLAG_PHONE                      0
FLAG_EMAIL                      0
OCCUPATION_TYPE                 0
CNT_FAM_MEMBERS                 0
REGION_RATING_CLIENT            0
REGION_RATING_CLIENT_W_CITY     0
WEEKDAY_APPR_PROCESS_START      0
HOUR_APPR_PROCESS_START         0
REG_REGION_NOT_LIVE_REGION      0
REG_REGION_NOT_WORK_REGION      0
LIVE_REGION_NOT_WORK_REGION     0
REG_CITY_NOT_LIVE_CITY          0
REG_CITY_NOT_WORK_CITY          0
LIVE_CITY_NOT_WORK_CITY         0
ORGANIZATION_TYPE               0
EXT_SOURCE_1                    0
EXT_SOURCE_2                    0
EXT_SOURCE_3                    0
APARTMENTS_AVG                  0
BASEMENTAREA_AVG                0
YEARS_BEGINEXPLUATATION_AVG     0
ELEVATORS_AVG                   0
ENTRANCES_AVG                   0
FLOORSMAX_AVG                   0
LANDAREA_AVG                    0
LIVINGAREA_AVG                  0
NONLIVINGAREA_AVG               0
APARTMENTS_MODE                 0
BASEMENTAREA_MODE               0
YEARS_BEGINEXPLUATATION_MODE    0
ELEVATORS_MODE                  0
ENTRANCES_MODE                  0
FLOORSMAX_MODE                  0
LANDAREA_MODE                   0
LIVINGAREA_MODE                 0
NONLIVINGAREA_MODE              0
APARTMENTS_MEDI                 0
BASEMENTAREA_MEDI               0
YEARS_BEGINEXPLUATATION_MEDI    0
ELEVATORS_MEDI                  0
ENTRANCES_MEDI                  0
FLOORSMAX_MEDI                  0
LANDAREA_MEDI                   0
LIVINGAREA_MEDI                 0
NONLIVINGAREA_MEDI              0
HOUSETYPE_MODE                  0
TOTALAREA_MODE                  0
WALLSMATERIAL_MODE              0
EMERGENCYSTATE_MODE             0
OBS_30_CNT_SOCIAL_CIRCLE        0
DEF_30_CNT_SOCIAL_CIRCLE        0
OBS_60_CNT_SOCIAL_CIRCLE        0
DEF_60_CNT_SOCIAL_CIRCLE        0
DAYS_LAST_PHONE_CHANGE          0
FLAG_DOCUMENT_2                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_9                 0
FLAG_DOCUMENT_10                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_12                0
FLAG_DOCUMENT_13                0
FLAG_DOCUMENT_14                0
FLAG_DOCUMENT_15                0
FLAG_DOCUMENT_16                0
FLAG_DOCUMENT_17                0
FLAG_DOCUMENT_18                0
FLAG_DOCUMENT_19                0
FLAG_DOCUMENT_20                0
FLAG_DOCUMENT_21                0
AMT_REQ_CREDIT_BUREAU_HOUR      0
AMT_REQ_CREDIT_BUREAU_DAY       0
AMT_REQ_CREDIT_BUREAU_WEEK      0
AMT_REQ_CREDIT_BUREAU_MON       0
AMT_REQ_CREDIT_BUREAU_QRT       0
AMT_REQ_CREDIT_BUREAU_YEAR      0
TARGET                          0
dtype: int64

There are no (?) in the given dataset

FINDING DUPLICATE ROWS

In [ ]:
train.duplicated().sum()

0

There are no duplicate rows which can be removed

**REMOVING COLUMNS BASED ON CORRELATION**

In [ ]:
cor_matrix = train.corr().abs()
#cor_matrix

Correlation matrix will be mirror image about the diagonal and all the diagonal elements will be 1 (So diagonal should not be included in any calculation).

Some of the features which are highly correlated that means which are some what linearly dependent with other features. These features contribute very less in predicting the output but increses the computational cost.

In [ ]:
upper_t = cor_matrix.abs().where(np.triu(np.ones(cor_matrix.shape), k=1).astype(np.bool))
#upper_t

<ipython-input-38-8b086ac412eb>:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper_t = cor_matrix.abs().where(np.triu(np.ones(cor_matrix.shape), k=1).astype(np.bool))

In [ ]:
train_drop1 = [column for column in upper_t.columns if any(upper_t[column] >= 0.95)]
train_drop1

['AMT_GOODS_PRICE',
 'FLAG_EMP_PHONE',
 'REGION_RATING_CLIENT_W_CITY',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'LANDAREA_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAREA_MEDI',
 'OBS_60_CNT_SOCIAL_CIRCLE']

Here, we are selecting upper triangular matrix and removing columns with high correlation.

In [ ]:
train.drop(columns =train_drop1,axis=1,inplace = True)

In [ ]:
format(train.shape)

'(184506, 81)'

In [ ]:
c=train.corr().abs()['TARGET']

Here, we are removing columns which has very less correlation with the TARGET.

In [ ]:
train_drop2=[]
for i in train:
    if(train[i].dtype!='object' and
       c[i]<0.005):
        train_drop2.append(i)
train_drop2

['AMT_INCOME_TOTAL',
 'FLAG_CONT_MOBILE',
 'FLAG_EMAIL',
 'REG_REGION_NOT_LIVE_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_QRT']

In [ ]:
train.drop(columns =train_drop2,axis=1,inplace = True)

In [ ]:
format(train.shape)

'(184506, 61)'

**BASIC PREPROCESSING FOR TEST DATA**

In [ ]:
format(test.shape)

'(123005, 120)'

In [ ]:
test = test.replace('XNA', np.nan)

In [ ]:
test = test.drop('FLAG_MOBIL', axis=1)

**REMOVING COLUMNS WITH HIGH NULL VALUE % IN TRAIN**

In [ ]:
test.drop(columns =train_drop_null_col,axis=1,inplace = True)
format(test.shape)

'(123005, 102)'

**REMOVING COLUMNS WHICH WE REMOVED FROM TRAIN BASED ON CORRELATION**

In [ ]:
test.drop(columns =train_drop1,axis=1,inplace = True)

In [ ]:
format(test.shape)

'(123005, 80)'

In [ ]:
test.drop(columns =train_drop2,axis=1,inplace = True)

In [ ]:
format(test.shape)

'(123005, 60)'

#**FURTHER PREPROCESSING**

**OUTLIERS**

In [ ]:
# for i in train:
#     if (train[i].nunique()>2 and train[i].dtypes != 'object'):
#       sns.boxplot(train[i])
#       plt.show()

In [ ]:
# for i in train:
#     if (train[i].nunique()>2 and train[i].dtypes != 'object'):
#       sns.histplot(train[i],kde=True)
#       plt.show()

In [ ]:
test_train_merged=pd.concat([train_data,test_data])

In [ ]:
# def calc_iqr(x,para):
#     q1 = x.quantile(q=0.25)
#     q3 = x.quantile(q=0.75)
#     iqr = q3 - q1
#     outlier_range = iqr*para
#     lower_bound = q1 - outlier_range
#     upper_bound = q3 + outlier_range
#     return lower_bound,upper_bound

In [ ]:
# z = np.abs(stats.zscore(train))

In [ ]:
# for i in train:
#   if(train[i].nunique()>2 and train[i].dtypes != 'object'):
#     minv,maxv=calc_iqr(test_train_merged[i],1.5)
#     # if(train[i].median()!=minv and train[i].median()!=maxv):
#     print(i)
#     print('Min:',train[i].min(),'Max:',train[i].max())
#     print("Min: ",minv,"Max:",maxv)

In [ ]:
# for i in train:
#   if(train[i].nunique()>2 and train[i].dtypes != 'object'):
#     minv,maxv=calc_iqr(test_train_merged[i],3)
#     # if(train[i].median()!=minv and train[i].median()!=maxv):
#     print(i)
#     print('Min:',train[i].min(),'Max:',train[i].max())
#     print("Min: ",minv,"Max:",maxv)

In [ ]:
# train['DEF_30_CNT_SOCIAL_CIRCLE'].value_counts().sort_values()

In [ ]:
# len(np.where(train['AMT_REQ_CREDIT_BUREAU_YEAR']>12)[0])

REGION_RATING_CLIENT - All modified to 2

In [ ]:
#extreme_outliers=['DAYS_EMPLOYED','OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE']

In [ ]:
# for i in train:
#    if i not in extreme_outliers and train[i].dtypes!='object':
#         minv,maxv=calc_iqr(train[i],1.5)
#         train[i].loc[train[i].astype('float64') > maxv]  = maxv
#         train[i].loc[train[i].astype('float64') < minv]  = minv
#         #train.drop(train[train[i].astype('float64')>maxv].index , inplace=True)
#         #train.drop(train[train[i].astype('float64')<minv].index , inplace=True)

In [ ]:
# for i in extreme_outliers:
#         minv,maxv=calc_iqr(train[i],3)
#         train[i].loc[train[i].astype('float64') > maxv]  = maxv
#         train[i].loc[train[i].astype('float64') < minv]  = minv
#         #train.drop(train[train[i].astype('float64')>maxv].index , inplace=True)
#         #train.drop(train[train[i].astype('float64')<minv].index , inplace=True)

In [ ]:
# for i in outliers_manual:
#   if i=='CNT_CHILDREN':
#     train[i].loc[train[i].astype('float64') > 3]  = 3
#     #train.drop(train[train[i].astype('float64')>3].index , inplace=True)

PLOTS AFTER REMOVING OUTLIERS

In [ ]:
# for i in train:
#   if (train[i].nunique()>2 and train[i].dtypes != 'object'):
#       sns.boxplot(train[i])
#       plt.show()

In [ ]:
# for i in train:
#   if (train[i].nunique()>2 and train[i].dtypes != 'object'):
#       sns.histplot(train[i],kde=True)
#       plt.show()

#**FILLING IN MISSING/NULL VALUES**

In [ ]:
nan_data = {
 'CODE_GENDER':'mode',
 'ORGANIZATION_TYPE':'Not Specified',
 'AMT_ANNUITY': 0,
 'AMT_GOODS_PRICE': 0,
 'NAME_TYPE_SUITE': 'Not Specified',
 'OWN_CAR_AGE': -1,
 'OCCUPATION_TYPE': 'Not Specified',
 'CNT_FAM_MEMBERS': 'median',
 'EXT_SOURCE_1': 'median',
 'EXT_SOURCE_2': 'median',
 'EXT_SOURCE_3': 'median',
 'APARTMENTS_AVG': 'median',
 'BASEMENTAREA_AVG': 'median',
 'YEARS_BEGINEXPLUATATION_AVG': 'median',
 'YEARS_BUILD_AVG': 'median',
 'COMMONAREA_AVG': 'median',
 'ELEVATORS_AVG': 'median',
 'ENTRANCES_AVG': 'median',
 'FLOORSMAX_AVG': 'median',
 'FLOORSMIN_AVG': 'median',
 'LANDAREA_AVG': 'median',
 'LIVINGAPARTMENTS_AVG': 'median',
 'LIVINGAREA_AVG': 'median',
 'NONLIVINGAPARTMENTS_AVG': 'median',
 'NONLIVINGAREA_AVG': 'median',
 'APARTMENTS_MODE': 'median',
 'BASEMENTAREA_MODE': 'median',
 'YEARS_BEGINEXPLUATATION_MODE': 'median',
 'YEARS_BUILD_MODE': 'median',
 'COMMONAREA_MODE': 'median',
 'ELEVATORS_MODE': 'median',
 'ENTRANCES_MODE': 'median',
 'FLOORSMAX_MODE': 'median',
 'FLOORSMIN_MODE': 'median',
 'LANDAREA_MODE': 'median',
 'LIVINGAPARTMENTS_MODE': 'median',
 'LIVINGAREA_MODE': 'median',
 'NONLIVINGAPARTMENTS_MODE': 'median',
 'NONLIVINGAREA_MODE': 'median',
 'APARTMENTS_MEDI': 'median',
 'BASEMENTAREA_MEDI': 'median',
 'YEARS_BEGINEXPLUATATION_MEDI': 'median',
 'YEARS_BUILD_MEDI': 'median',
 'COMMONAREA_MEDI': 'median',
 'ELEVATORS_MEDI': 'median',
 'ENTRANCES_MEDI': 'median',
 'FLOORSMAX_MEDI': 'median',
 'FLOORSMIN_MEDI': 'median',
 'LANDAREA_MEDI': 'median',
 'LIVINGAPARTMENTS_MEDI': 'median',
 'LIVINGAREA_MEDI': 'median',
 'NONLIVINGAPARTMENTS_MEDI': 'median',
 'NONLIVINGAREA_MEDI': 'median',
 'FONDKAPREMONT_MODE': 'Not Specified',
 'HOUSETYPE_MODE': 'Not Specified',
 'TOTALAREA_MODE': 'median',
 'WALLSMATERIAL_MODE': 'Not Specified',
 'EMERGENCYSTATE_MODE': 'Not Specified',
 'OBS_30_CNT_SOCIAL_CIRCLE': 0,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0,
 'OBS_60_CNT_SOCIAL_CIRCLE': 0,
 'DEF_60_CNT_SOCIAL_CIRCLE':0,
 'DAYS_LAST_PHONE_CHANGE':'median',
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0,
 'AMT_REQ_CREDIT_BUREAU_MON': 0,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 0
}

In [ ]:
def RemoveNaN(df,df_merged,nan_data):
  cols = list(df.columns[df.isnull().sum() != 0])

  for col in cols:
      t=0

      if(type(nan_data[col]) is list):
          t=nan_data[col][1]
      else:
          t = nan_data[col]

      replace_type = t

      if(replace_type == "median"):
            df[col].fillna(df_merged[col].median(),inplace=True)
      # elif(replace_type == "mean"):
      #     df[col].fillna(df_merged[col].mean(),inplace=True)
      elif(replace_type == "mode"):
            df[col].fillna(df_merged[col].value_counts().idxmax(),inplace=True)
      else:
            df[col].fillna(replace_type,inplace=True)

In [ ]:
RemoveNaN(train,test_train_merged,nan_data)

In [ ]:
train.isna().sum().sort_values()

NAME_CONTRACT_TYPE             0
APARTMENTS_AVG                 0
BASEMENTAREA_AVG               0
YEARS_BEGINEXPLUATATION_AVG    0
ELEVATORS_AVG                  0
ENTRANCES_AVG                  0
FLOORSMAX_AVG                  0
LANDAREA_AVG                   0
LIVINGAREA_AVG                 0
NONLIVINGAREA_AVG              0
HOUSETYPE_MODE                 0
TOTALAREA_MODE                 0
WALLSMATERIAL_MODE             0
EMERGENCYSTATE_MODE            0
OBS_30_CNT_SOCIAL_CIRCLE       0
DEF_30_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
DAYS_LAST_PHONE_CHANGE         0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_18               0
AMT_REQ_CREDIT_BUREAU_MON      0
EXT_SOURCE_3                   0
AMT_REQ_CREDIT_BUREAU_YEAR     0
EXT_SOURCE_2                   0
ORGANIZATION_TYPE              0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_CREDIT                     0
AMT_ANNUITY                    0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
FLAG_WORK_PHONE                0
FLAG_PHONE                     0
OCCUPATION_TYPE                0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_WORK_REGION     0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
LIVE_CITY_NOT_WORK_CITY        0
EXT_SOURCE_1                   0
TARGET                         0
dtype: int64

In [ ]:
RemoveNaN(test,test_train_merged,nan_data)

In [ ]:
test.isna().sum().sort_values()

NAME_CONTRACT_TYPE             0
APARTMENTS_AVG                 0
BASEMENTAREA_AVG               0
YEARS_BEGINEXPLUATATION_AVG    0
ELEVATORS_AVG                  0
ENTRANCES_AVG                  0
FLOORSMAX_AVG                  0
LANDAREA_AVG                   0
LIVINGAREA_AVG                 0
NONLIVINGAREA_AVG              0
HOUSETYPE_MODE                 0
TOTALAREA_MODE                 0
WALLSMATERIAL_MODE             0
EXT_SOURCE_3                   0
EMERGENCYSTATE_MODE            0
DEF_30_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
DAYS_LAST_PHONE_CHANGE         0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_18               0
OBS_30_CNT_SOCIAL_CIRCLE       0
EXT_SOURCE_2                   0
EXT_SOURCE_1                   0
ORGANIZATION_TYPE              0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_CREDIT                     0
AMT_ANNUITY                    0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
FLAG_WORK_PHONE                0
FLAG_PHONE                     0
OCCUPATION_TYPE                0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_WORK_REGION     0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
LIVE_CITY_NOT_WORK_CITY        0
AMT_REQ_CREDIT_BUREAU_MON      0
AMT_REQ_CREDIT_BUREAU_YEAR     0
dtype: int64

#**ENCODING**

**TRAIN DATA**

In [ ]:
obj_train = [i for i in train.columns if train[i].dtypes == 'object']
obj_train

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [ ]:
label_train=obj_train

In [ ]:
train['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         167013
Revolving loans     17493
Name: NAME_CONTRACT_TYPE, dtype: int64

In [ ]:
train['FLAG_OWN_CAR'].value_counts()

N    121630
Y     62876
Name: FLAG_OWN_CAR, dtype: int64

In [ ]:
train['FLAG_OWN_REALTY'].value_counts()

Y    128059
N     56447
Name: FLAG_OWN_REALTY, dtype: int64

In [ ]:
labelencoder = LabelEncoder()
for i in label_train:
    train[i] = labelencoder.fit_transform(train[i])

In [ ]:
train['NAME_CONTRACT_TYPE'].value_counts()

0    167013
1     17493
Name: NAME_CONTRACT_TYPE, dtype: int64

In [ ]:
train['FLAG_OWN_CAR'].value_counts()

0    121630
1     62876
Name: FLAG_OWN_CAR, dtype: int64

In [ ]:
train['FLAG_OWN_REALTY'].value_counts()

1    128059
0     56447
Name: FLAG_OWN_REALTY, dtype: int64

**TEST DATA**

In [ ]:
test['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         111219
Revolving loans     11786
Name: NAME_CONTRACT_TYPE, dtype: int64

In [ ]:
for i in label_train:
    test[i] = labelencoder.fit_transform(test[i])

In [ ]:
test['NAME_CONTRACT_TYPE'].value_counts()

0    111219
1     11786
Name: NAME_CONTRACT_TYPE, dtype: int64

#**MODEL IMPLEMENTATION**

**IMPORTING LIBRARIES**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from lightgbm import LGBMClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import Perceptron

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [ ]:
x=train.drop(['TARGET'],axis=1)

y=train['TARGET']

In [ ]:
x_train, x_validation, y_train, y_validation = train_test_split(x,y,test_size=0.3,random_state=1)

#**STANDARDISATION**

In [ ]:
# sc = StandardScaler()
# x_train = sc.fit_transform(x_train)
# x_validation = sc.transform (x_validation)

#**TRIAL MODELS**

**LOGISTIC REGRESSION**

In [ ]:
# lr = LogisticRegression(max_iter=3000)
# lr.fit(x_train, y_train)

# y_pred_lr = lr.predict(x_validation)

# lr_train_score = lr.score(x_train, y_train)
# lr_validation_score= lr.score(x_validation, y_validation)

# lr_acc = accuracy_score(y_pred_lr,y_validation)
# lr_f1_score=f1_score(y_validation, y_pred_lr, average='macro')

# pred_lr=lr.predict(test)
# pred_lr

In [ ]:
# print('LogisticRegressionModel Train Score is : ' , lr_train_score)
# print('LogisticRegressionModel Validation Score is : ' , lr_validation_score)
# print('LogisticRegressionModel Accuracy is : ', lr_acc)
# print('LogisticRegressionModel F1 Score is : ', lr_f1_score)

**DECISION TREES**

In [ ]:
# dt= DecisionTreeClassifier()
# dt.fit(x_train, y_train)

# y_pred_dt = dt.predict(x_validation)

# dt_train_score = dt.score(x_train, y_train)
# dt_validation_score= dt.score(x_validation, y_validation)

# dt_acc = accuracy_score(y_pred_dt,y_validation)
# dt_f1_score=f1_score(y_validation, y_pred_dt, average='macro')

# pred_dt=dt.predict(test)
# pred_dt

In [ ]:
# print('DecisionTreeClassifier Train Score is : ' , dt_train_score)
# print('DecisionTreeClassifier Validation Score is : ' , dt_validation_score)
# print('DecisionTreeClassifier Accuracy is : ', dt_acc)
# print('DecisionTreeClassifier F1 Score is : ', dt_f1_score)

**RANDOM FOREST**

In [ ]:
# rf= RandomForestClassifier(n_estimators = 100, random_state = 50, verbose = 1, n_jobs = -1)
# rf.fit(x_train, y_train)

# y_pred_rf = rf.predict(x_validation)

# rf_train_score = rf.score(x_train, y_train)
# rf_validation_score= rf.score(x_validation, y_validation)

# rf_acc = accuracy_score(y_pred_rf,y_validation)
# rf_f1_score=f1_score(y_validation, y_pred_rf, average='macro')

# pred_rf=rf.predict(test)
# pred_rf

In [ ]:
# print('RandomForestClassifier Train Score is : ' , rf_train_score)
# print('RandomForestClassifier Validation Score is : ' , rf_validation_score)
# print('RandomForestClassifier Accuracy is : ', rf_acc)
# print('RandomForestClassifier F1 Score is : ', rf_f1_score)

**NAIVE BAYES**

In [ ]:
# nb = GaussianNB()
# nb.fit(x_train, y_train)

# y_pred_nb = nb.predict(x_validation)

# nb_train_score = nb.score(x_train, y_train)
# nb_validation_score= nb.score(x_validation, y_validation)

# nb_acc = accuracy_score(y_pred_nb,y_validation)
# nb_f1_score=f1_score(y_validation, y_pred_nb, average='macro')

# pred_nb=nb.predict(test)
# pred_nb

In [ ]:
# print('NaiveBayesClassifier Train Score is : ' , nb_train_score)
# print('NaiveBayesClassifier Validation Score is : ' , nb_validation_score)
# print('NaiveBayesClassifier Accuracy is : ', nb_acc)
# print('NaiveBayesClassifier F1 Score is : ', nb_f1_score)

**ADABOOST**

In [ ]:
# adb = AdaBoostClassifier(random_state=0,n_estimators=200)

# adb.fit(x_train, y_train)

# y_pred_adb = adb.predict(x_validation)

# adb_train_score = adb.score(x_train, y_train)
# adb_validation_score= adb.score(x_validation, y_validation)

# adb_acc = accuracy_score(y_pred_adb,y_validation)
# adb_f1_score=f1_score(y_validation, y_pred_adb, average='macro')

# pred_adb=adb.predict(test)
# pred_adb

In [ ]:
# print('AdaBoostClassifier Train Score is : ' , adb_train_score)
# print('AdaBoostClassifier Validation Score is : ' , adb_validation_score)
# print('AdaBoostClassifier Accuracy is : ', adb_acc)
# print('AdaBoostClassifier F1 Score is : ', adb_f1_score)

**GRADIENT BOOST**

In [ ]:
# gb = GradientBoostingClassifier(random_state=0,learning_rate= 0.01,n_estimators= 1000,max_depth=6)

# gb.fit(x_train, y_train)

# y_pred_gb = gb.predict(x_validation)

# gb_train_score = gb.score(x_train, y_train)
# gb_validation_score= gb.score(x_validation, y_validation)

# gb_acc = accuracy_score(y_pred_gb,y_validation)
# gb_f1_score=f1_score(y_validation, y_pred_gb, average='macro')

# pred_gb=gb.predict(test)
# pred_gb

In [ ]:
# print('GradientBoostingClassifier Train Score is : ' , gb_train_score)
# print('GradientBoostingClassifier Validation Score is : ' , gb_validation_score)
# print('GradientBoostingClassifier Accuracy is : ', gb_acc)
# print('GradientBoostingClassifier F1 Score is : ', gb_f1_score)

**SVM**

In [ ]:
# from sklearn.svm import SVC
# svc = SVC(C=1.0, random_state=1, kernel='linear')
# svc.fit(x_train, y_train)

# y_pred_svc = svc.predict(x_validation)

# svc_train_score = svc.score(x_train, y_train)
# svc_validation_score= svc.score(x_validation, y_validation)

# svc_acc = accuracy_score(y_pred_svc,y_validation)
# svc_f1_score=f1_score(y_validation, y_pred_svc, average='macro')

# pred_svc=svc.predict(test)
# pred_svc

In [ ]:
# print('SupportVectorMachineClassifier Train Score is : ' , svc_train_score)
# print('SupportVectorMachineClassifier Validation Score is : ' , svc_validation_score)
# print('SupportVectorMachineClassifier Accuracy is : ', svc_acc)
# print('SupportVectorMachineClassifier F1 Score is : ', svc_f1_score)

**CATBOOST**

In [ ]:
# cb = CatBoostClassifier(thread_count=-1,random_state=0,border_count=5000,depth=4)
# cb.fit(x_train, y_train)

# y_pred_cb = cb.predict(x_validation)

# cb_train_score = cb.score(x_train, y_train)
# cb_validation_score= cb.score(x_validation, y_validation)

# cb_acc = accuracy_score(y_pred_cb,y_validation)
# cb_f1_score=f1_score(y_validation, y_pred_cb, average='macro')

# pred_cb=svc.predict(test)
# pred_cb

In [ ]:
# print('CatBoostClassifier Train Score is : ' , cb_train_score)
# print('CatBoostClassifier Validation Score is : ' , cb_validation_score)
# print('CatBoostClassifier Accuracy is : ', cb_acc)
# print('CatBoostClassifier F1 Score is : ', cb_f1_score)

**PERCEPTRON**

In [ ]:
# perc = Perceptron(random_state=1)
# perc.fit(x_train, y_train)

# y_pred_perc = perc.predict(x_validation)

# perc_train_score = perc.score(x_train, y_train)
# perc_validation_score= perc.score(x_validation, y_validation)

# perc_acc = accuracy_score(y_pred_perc,y_validation)
# perc_f1_score=f1_score(y_validation, y_pred_perc, average='macro')

# pred_perc=perc.predict(test)
# pred_perc

In [ ]:
# print('PerceptronClassifier Train Score is : ' , perc_train_score)
# print('PerceptronClassifier Validation Score is : ' , perc_validation_score)
# print('PerceptronClassifier Accuracy is : ', perc_acc)
# print('PerceptronClassifier F1 Score is : ', perc_f1_score)

#**FINAL MODELS**

**XGBOOST**

Tuning Optimal Parameters

Implementation:

In [ ]:
# xgb = XGBClassifier(
#     scale_pos_weight=5,
#     max_depth = 3,
#     min_child_weight = 1,
#     gamma = 0.4,
#     subsample=0.55,
#     colsample_bytree = 0.8,
#     learning_rate=0.01,
#     n_estimaters=10000,
#     objective= 'binary:logistic'
#     )
# xgb.fit(x_train, y_train)

# #y_pred_xgb1 = xgb.predict(x_validation)
# #y_pred_xgb = [round(value) for value in y_pred_xgb1]

# y_pred_xgb = xgb.predict(x_validation)

# xgb_train_score = xgb.score(x_train, y_train)
# xgb_validation_score= xgb.score(x_validation, y_validation)

# xgb_acc = accuracy_score(y_pred_xgb,y_validation)
# xgb_f1_score=f1_score(y_validation, y_pred_xgb, average='macro')

# pred_xgb=xgb.predict(test)
# pred_xgb

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
# print('XGBClassifier Train Score is : ' , xgb_train_score)
# print('XGBClassifier Test Score is : ' , xgb_validation_score)
# print('XGBClassifier Accuracy is : ', xgb_acc)
# print('XGBClassifier F1 Score is : ', xgb_f1_score)

XGBClassifier Train Score is :  0.8927017359121668
XGBClassifier Test Score is :  0.8926868044515104
XGBClassifier Accuracy is :  0.8926868044515104
XGBClassifier F1 Score is :  0.5886134658054737

**LIGHT GBM**

Tuning Optimal Parameters

In [ ]:
from lightgbm import LGBMRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
def objective(trial,data=x,target=y):

    train_x, test_x, train_y, test_y = train_test_split(data, target, test_size=0.2,random_state=42)
    param = {
        'metric': 'rmse',
        'random_state': 48,
        'n_estimators': 20000,
        'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
        'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
        'colsample_bytree': trial.suggest_categorical('colsample_bytree', [0.3,0.4,0.5,0.6,0.7,0.8,0.9, 1.0]),
        'subsample': trial.suggest_categorical('subsample', [0.4,0.5,0.6,0.7,0.8,1.0]),
        'learning_rate': trial.suggest_categorical('learning_rate', [0.006,0.008,0.01,0.014,0.017,0.02]),
        'max_depth': trial.suggest_categorical('max_depth', [10,20,100]),
        'num_leaves' : trial.suggest_int('num_leaves', 1, 1000),
        'min_child_samples': trial.suggest_int('min_child_samples', 1, 300),
        'cat_smooth' : trial.suggest_int('min_data_per_groups', 1, 100)
    }
    model = LGBMRegressor(**param)

    model.fit(train_x,train_y,eval_set=[(test_x,test_y)],early_stopping_rounds=100,verbose=False)

    preds = model.predict(test_x)

    rmse = mean_squared_error(test_y, preds,squared=False)

    return rmse

In [ ]:
pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-3.0.4-py3-none-any.whl (348 kB)
     |████████████████████████████████| 348 kB 5.0 MB/s
Collecting cliff
  Downloading cliff-4.1.0-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 9.9 MB/s
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: importlib-metadata<5.0.0 in /usr/local/lib/python3.8/dist-packages (from optuna) (4.13.0)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from optuna) (1.4.44)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.9.0-py3-none-any.whl (23 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from optuna) (21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from optuna) (1.21.6)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from optuna) (6.0)
Collecting alembic>=1.5.0
  Downloading alembic-1.8.1-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 60.8 MB/s
Requirement already satisfied: scipy<1.9.0,>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from optuna) (1.7.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from optuna) (4.64.1)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 7.5 MB/s
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.8/dist-packages (from alembic>=1.5.0->optuna) (5.10.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata<5.0.0->optuna) (3.11.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=1.3.0->optuna) (2.0.1)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.2-py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 61.3 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.8/dist-packages (from cliff->optuna) (3.5.0)
Collecting stevedore>=2.0.1
  Downloading stevedore-4.1.1-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 7.0 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.1-py3-none-any.whl (29 kB)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.8/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.8/dist-packages (from cmd2>=1.0.0->cliff->optuna) (22.1.0)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.11.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 74.9 MB/s
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.8/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11136 sha256=a1377c7a6a094ac97ee1b6995ccb907d55d5a4c4b6e364ee6c0c3e319c5f1682
  Stored in directory: /root/.cache/pip/wheels/7f/1a/65/84ff8c386bec21fca6d220ea1f5498a0367883a78dd5ba6122
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.4 alembic-1.8.1 autopage-0.5.1 cliff-4.1.0 cmaes-0.9.0 cmd2-2.4.2 colorlog-6.7.0 optuna-3.0.4 pbr-5.11.0 pyperclip-1.8.2 stevedore-4.1.1

In [ ]:
import optuna

In [ ]:
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=50)
print('Number of finished trials:', len(study.trials))
print('Best trial:', study.best_trial.params)

[I 2022-12-10 21:43:47,651] A new study created in memory with name: no-name-d711f454-9ee0-4da4-9074-55565d989a2d
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:45:27,636] Trial 0 finished with value: 0.26049207471981456 and parameters: {'reg_alpha': 0.008102607137030789, 'reg_lambda': 0.0012206146082346465, 'colsample_bytree': 0.7, 'subsample': 0.8, 'learning_rate': 0.008, 'max_depth': 10, 'num_leaves': 334, 'min_child_samples': 292, 'min_data_per_groups': 50}. Best is trial 0 with value: 0.26049207471981456.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:47:16,926] Trial 1 finished with value: 0.26053913791736427 and parameters: {'reg_alpha': 0.03840105274048199, 'reg_lambda': 1.1217334594148083, 'colsample_bytree': 0.3, 'subsample': 1.0, 'learning_rate': 0.006, 'max_depth': 10, 'num_leaves': 348, 'min_child_samples': 142, 'min_data_per_groups': 21}. Best is trial 0 with value: 0.26049207471981456.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:47:58,978] Trial 2 finished with value: 0.26079440995865294 and parameters: {'reg_alpha': 0.3552278064133038, 'reg_lambda': 0.061594778141288636, 'colsample_bytree': 0.9, 'subsample': 0.6, 'learning_rate': 0.02, 'max_depth': 10, 'num_leaves': 588, 'min_child_samples': 179, 'min_data_per_groups': 94}. Best is trial 0 with value: 0.26049207471981456.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:49:23,181] Trial 3 finished with value: 0.2605559719250788 and parameters: {'reg_alpha': 0.0032131000349878234, 'reg_lambda': 0.0016290963568234545, 'colsample_bytree': 0.6, 'subsample': 0.5, 'learning_rate': 0.008, 'max_depth': 10, 'num_leaves': 527, 'min_child_samples': 80, 'min_data_per_groups': 66}. Best is trial 0 with value: 0.26049207471981456.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:50:27,848] Trial 4 finished with value: 0.26045561560386704 and parameters: {'reg_alpha': 0.397253106165821, 'reg_lambda': 1.116913675849802, 'colsample_bytree': 0.3, 'subsample': 0.5, 'learning_rate': 0.008, 'max_depth': 100, 'num_leaves': 135, 'min_child_samples': 70, 'min_data_per_groups': 22}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:52:17,530] Trial 5 finished with value: 0.26076779504650954 and parameters: {'reg_alpha': 5.438168483660514, 'reg_lambda': 0.0032548557148298547, 'colsample_bytree': 0.7, 'subsample': 0.7, 'learning_rate': 0.008, 'max_depth': 100, 'num_leaves': 610, 'min_child_samples': 9, 'min_data_per_groups': 69}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:53:18,545] Trial 6 finished with value: 0.2608807962109134 and parameters: {'reg_alpha': 0.008712778732540633, 'reg_lambda': 0.003047612877128253, 'colsample_bytree': 0.4, 'subsample': 0.8, 'learning_rate': 0.014, 'max_depth': 20, 'num_leaves': 981, 'min_child_samples': 145, 'min_data_per_groups': 88}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:54:05,481] Trial 7 finished with value: 0.2607708537606081 and parameters: {'reg_alpha': 0.001926249325368993, 'reg_lambda': 0.9613333480366846, 'colsample_bytree': 1.0, 'subsample': 0.6, 'learning_rate': 0.017, 'max_depth': 100, 'num_leaves': 171, 'min_child_samples': 201, 'min_data_per_groups': 88}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:55:31,650] Trial 8 finished with value: 0.2605096456856144 and parameters: {'reg_alpha': 4.036424718089101, 'reg_lambda': 0.12148461138268284, 'colsample_bytree': 0.6, 'subsample': 0.4, 'learning_rate': 0.008, 'max_depth': 100, 'num_leaves': 269, 'min_child_samples': 87, 'min_data_per_groups': 100}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:56:33,606] Trial 9 finished with value: 0.26050037211394217 and parameters: {'reg_alpha': 0.035128460280120545, 'reg_lambda': 0.3671595388562282, 'colsample_bytree': 0.7, 'subsample': 0.6, 'learning_rate': 0.01, 'max_depth': 20, 'num_leaves': 137, 'min_child_samples': 103, 'min_data_per_groups': 42}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 21:59:20,228] Trial 10 finished with value: 0.2608968150966226 and parameters: {'reg_alpha': 0.3617087863004056, 'reg_lambda': 9.758898703210011, 'colsample_bytree': 0.3, 'subsample': 0.5, 'learning_rate': 0.006, 'max_depth': 100, 'num_leaves': 819, 'min_child_samples': 18, 'min_data_per_groups': 7}. Best is trial 4 with value: 0.26045561560386704.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:00:27,513] Trial 11 finished with value: 0.2603734246413548 and parameters: {'reg_alpha': 0.40440573142870007, 'reg_lambda': 0.023126475930881605, 'colsample_bytree': 0.5, 'subsample': 0.8, 'learning_rate': 0.008, 'max_depth': 10, 'num_leaves': 35, 'min_child_samples': 264, 'min_data_per_groups': 38}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:01:42,869] Trial 12 finished with value: 0.26037532705621114 and parameters: {'reg_alpha': 0.5597601573532233, 'reg_lambda': 0.038054134689961855, 'colsample_bytree': 0.5, 'subsample': 0.8, 'learning_rate': 0.008, 'max_depth': 100, 'num_leaves': 20, 'min_child_samples': 292, 'min_data_per_groups': 28}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:02:51,055] Trial 13 finished with value: 0.26047801835076884 and parameters: {'reg_alpha': 1.4695322483459754, 'reg_lambda': 0.015908113185188703, 'colsample_bytree': 0.5, 'subsample': 0.8, 'learning_rate': 0.01, 'max_depth': 10, 'num_leaves': 10, 'min_child_samples': 300, 'min_data_per_groups': 32}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:03:23,035] Trial 14 finished with value: 0.2605186228310382 and parameters: {'reg_alpha': 1.234460119691495, 'reg_lambda': 0.01571033683178547, 'colsample_bytree': 0.5, 'subsample': 0.8, 'learning_rate': 0.017, 'max_depth': 20, 'num_leaves': 12, 'min_child_samples': 242, 'min_data_per_groups': 5}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:04:36,119] Trial 15 finished with value: 0.2608119287770957 and parameters: {'reg_alpha': 0.10006607190460498, 'reg_lambda': 0.030007603103034446, 'colsample_bytree': 0.8, 'subsample': 0.8, 'learning_rate': 0.014, 'max_depth': 100, 'num_leaves': 386, 'min_child_samples': 251, 'min_data_per_groups': 35}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:05:18,032] Trial 16 finished with value: 0.2605638655799169 and parameters: {'reg_alpha': 0.10234473548008925, 'reg_lambda': 0.007470620592493082, 'colsample_bytree': 0.5, 'subsample': 0.4, 'learning_rate': 0.02, 'max_depth': 10, 'num_leaves': 7, 'min_child_samples': 249, 'min_data_per_groups': 60}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:06:48,569] Trial 17 finished with value: 0.2604068889348093 and parameters: {'reg_alpha': 1.0801009815921938, 'reg_lambda': 0.12503109117746447, 'colsample_bytree': 0.5, 'subsample': 0.7, 'learning_rate': 0.008, 'max_depth': 10, 'num_leaves': 205, 'min_child_samples': 221, 'min_data_per_groups': 19}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),
[I 2022-12-10 22:08:39,072] Trial 18 finished with value: 0.260632903083871 and parameters: {'reg_alpha': 0.20560115377262808, 'reg_lambda': 0.05761275610550877, 'colsample_bytree': 0.5, 'subsample': 1.0, 'learning_rate': 0.008, 'max_depth': 100, 'num_leaves': 755, 'min_child_samples': 273, 'min_data_per_groups': 47}. Best is trial 11 with value: 0.2603734246413548.
<ipython-input-128-d05a9eb7c24f>:8: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_alpha': trial.suggest_loguniform('reg_alpha', 1e-3, 10.0),
<ipython-input-128-d05a9eb7c24f>:9: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'reg_lambda': trial.suggest_loguniform('reg_lambda', 1e-3, 10.0),

Final Implementation

In [ ]:
# lgbm = LGBMClassifier(
#        verbosity = -1,
#        feature_pre_filter = False,
#        lambda_l1= 0.0007099817067951657,
#        lambda_l2= 2.2721620492879536e-07,
#        num_leaves= 85,
#        max_depth=7,
#        feature_fraction= 0.4,
#        bagging_fraction= 0.9938087600649544,
#        bagging_freq= 1,
#        min_child_samples= 20,
#        learning_rate= 0.01,
#        n_estimators= 1000,
#        scale_pos_weight=5,
#        objective='binary',
#        metrics='auc',
#        )


# lgbm.fit(x_train, y_train)

# y_pred_lgbm = lgbm.predict(x_validation)

# lgbm_train_score = lgbm.score(x_train, y_train)
# lgbm_validation_score= lgbm.score(x_validation, y_validation)

# lgbm_acc = accuracy_score(y_pred_lgbm,y_validation)
# lgbm_f1_score=f1_score(y_validation, y_pred_lgbm, average='macro')

# pred_lgbm=lgbm.predict(test)
# pred_lgbm

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
# print('LGBMClassifier Train Score is : ' , lgbm_train_score)
# print('LGBMClassifier Test Score is : ' , lgbm_validation_score)
# print('LGBMClassifier Accuracy is : ', lgbm_acc)
# print('LGBMClassifier F1 Score is : ', lgbm_f1_score)

LGBMClassifier Train Score is :  0.8996469331186026
LGBMClassifier Test Score is :  0.8775834658187599
LGBMClassifier Accuracy is :  0.8775834658187599
LGBMClassifier F1 Score is :  0.6112259148713496

#**SUMMARY**

In [ ]:
# data = {'Models':['Light GBM', 'XGB' ],
#         'Accuracy Score':[lgbm_acc,xgb_acc],
#         'F1 Score':[lgbm_f1_score,xgb_f1_score]}
# compare=df = pd.DataFrame(data)
# compare.sort_values(ascending= False , by = ['F1 Score'])

      Models  Accuracy Score  F1 Score
0  Light GBM        0.877583  0.611226
1        XGB        0.892687  0.588613

In [ ]:
# LR_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_lr })
# RF_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_rf })
# NB_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_nb })
# GB_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_gb })
# SVC_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_svc })
# ADB_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_adb })
# PERC_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_perc })
# DT_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_dt })
XGB_Final= pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_xgb })
LGBM_Final = pd.DataFrame({ 'SK_ID_CURR': test_data['SK_ID_CURR'],'TARGET': pred_lgbm })

In [ ]:
# LR_Final.TARGET.value_counts()

In [ ]:
# RF_Final.TARGET.value_counts()

In [ ]:
# NB_Final.TARGET.value_counts()

In [ ]:
# ADB_Final.TARGET.value_counts()

In [ ]:
# DT_Final.TARGET.value_counts()

In [ ]:
# GB_Final.TARGET.value_counts()

In [ ]:
# SVC_Final.TARGET.value_counts()

In [ ]:
# PERC_Final.TARGET.value_counts()

In [ ]:
XGB_Final.TARGET.value_counts()

0    115503
1      7502
Name: TARGET, dtype: int64

In [ ]:
LGBM_Final.TARGET.value_counts()

0    111774
1     11231
Name: TARGET, dtype: int64

In [ ]:
# DT_Final.to_csv("DT_Final.csv", index=False)
# RF_Final.to_csv("RF_Final.csv", index=False)
# NB_Final.to_csv("NB_Final.csv", index=False)
# LR_Final.to_csv("LR_Final.csv", index=False)
# ADB_Final.to_csv("ADB_Final.csv", index=False)
# SVC_Final.to_csv("SVC_Final.csv", index=False)
# PERC_Final.to_csv("PERC_Final.csv", index=False)
# GB_Final.to_csv("GB_Final.csv", index=False)

XGB_Final.to_csv("XGB_Final.csv", index=False)
LGBM_Final.to_csv("LGBM_Final.csv", index=False)